<%- include header.html -%>
<%- include top.html -%>
<div class="about-top text-center img-responsive " id="margin-top">
    <img src="../images/about_bg.png" alt="" class="img-responsive"/>
</div>
<div class="container">
    <div class="row about">
        <div class="about-inner text-center">
            <h1>沟通 · 协作 · 共享 · 开放</h1>

            <p>北京和信达科技有限公司是一家专注于智能健康设备与互联网软件研发的高科技企业。</p>

            <p>我们的使命是打造用户体验一流的智能情趣用品，让每个人享受科技带来的乐趣。
                在缺乏用户体验和工匠精神的智能情趣用品行业， 我们的团队格外擅长用户之间的互动性、软件的图形界面和用户体验设计，并精通硬件的工业设计。</p>

            <p>北京和信达科技有限公司成立于 2015年 4月，<%= site.name%>是公司旗下的一款智能产品</p>
        </div>
    </div>
</div>
<%- include footer.html -%>
<%- include end.html -%>