<%- include header.html -%>
<%- include top.html -%>

<div class="container" id="margin-top">
    <!--固定导航栏 暂时不用-->
    <!--<div class="list-group text-center" style="width: 110px;position:fixed;opacity:0.9;top: 20%;">-->
    <!--<a href="#" class="list-group-item list-group-item-danger">合作企业</a>-->
    <!--<a href="#" class="list-group-item list-group-item-info">招聘信息</a>-->
    <!--<a href="#" class="list-group-item list-group-item-success">隐私政策</a>-->
    <!--<a href="#" class="list-group-item list-group-item-warning">友情链接</a>-->
    <!--<a href="#" class="list-group-item list-group-item-heading">合作伙伴</a>-->
    <!--</div>-->
    <div class="row contact text-center">
        <h1 class="text-left">联系我们</h1>

        <div class="border contact_border"></div>
        <!--地图容器-->
        <div id="dituContent" class="col-md-6"></div>
        <!--地址信息-->
        <div style="margin: 10vh auto; display: inline-block;" class="text-left add">
            <h2>公司联系方式</h2>
            <h4>地址：北京市海淀区学清路甲38号金码大厦A座801</h4>
            <h4>网址：<a href="http://www.hxd-inc.com"> www.hxd-inc.com</a></h4>
            <h4>邮箱：<a href="mailto:kf@hxd-inc.com"> kf@hxd-inc.com</a></h4>
            <h4>电话： 010-57028880</h4>
            <h4>邮编： 100083</h4>
        </div>
    </div>
</div><br/><br/><br/><br/><br/>

<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script>
    $(function () {
        $('#logo').css('padding-top', 3);

    // 创建和初始化地图函数：
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    // 创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        // var point = new BMap.Point(116.48085, 39.876651); // 南新园
        var point = new BMap.Point(116.3601860000, 40.0073510000); // 金码大厦
        map.centerAndZoom(point, 17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    // 地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    // 地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE});
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1});
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
        map.addControl(ctrl_sca);
    }

    // 标注点数组
    var markerArr = [{
        title: "北京市海淀区学清路甲38号",
        content: "金码大厦A座801",
        point: "116.3601860000|40.0073510000",
        isOpen: 1,
        icon: {w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5}
    }
    ];
    // 创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, {icon: iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, {"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#808080",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                });
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                });
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                });
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }

    // 创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }

    // 创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
            imageOffset: new BMap.Size(-json.l, -json.t),
            infoWindowOffset: new BMap.Size(json.lb + 5, 1),
            offset: new BMap.Size(json.x, json.h)
        });
        return icon;
    }
    // 创建和初始化地图
    initMap();
    });
</script>
<%- include footer.html -%>
<%- include end.html -%>