<!--底部导航信息-->
<div class="footer-top text-center">
    <div class="container text-left box">
        <div class="div-left">
            <ul class="div-left-1">
                <li><a href="/about">关于我们</a></li>
                <li><a href="/use-agreement">用户协议</a></li>
            </ul>
            <ul class="div-left-2">
                <li><span>服务热线</span></li>
                <li><a>010-57028880</a></li>
            </ul>
            <ul class="div-left-3">
                <li><span>服务邮箱</span></li>
                <li><a href="mailto:kf@hxd-inc.com" class="email">kf@hxd-inc.com</a></li>
            </ul>
            <ul class="div-left-4 text-center">
                <li><img src="../images/xiaomishuo.png" alt=""/></li>
                <li><span>扫一下</span></li>
                <li><span>关注“小蜜说”</span></li>
            </ul>
            <ul class="div-left-5 text-center">
                <li><img src="../images/youmimi.net.png" alt=""/></li>
                <li><span>扫一下</span></li>
                <li><span>让生活更情趣</span></li>
            </ul>
        </div>
    </div>
</div>
<footer class="text-center footer">
    <div class="container">
        <p style="margin: 5px 0 5px 0"><a href="http://www.miitbeian.gov.cn" style="color: #ffffff" target="_blank">京ICP备15027647号</a></p>
    </div>
</footer>