<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body id="js-doc">
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-fixed-top" style="border-bottom: 1px solid #bababa">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding-top:12px;color:#65c4aa;" id="logo"><img src="../images/logo.png"
                                                                                         alt="Logo" title="Use cret"
                                                                                         style="display: inline-block;width: 44px;"/>
                <img src="../images/logo_text.png" alt="Logo" title="友蜜蜜" id="logo_text" style="width: 114px"/></a>
        </div>
        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="curr border-bottom"><a href="/">首页</a></li>
                <li class="border-bottom nav-li"><a href="/product">产品介绍</a></li>
                <li class="border-bottom nav-li"><a href="/download">下载</a></li>
                <li class="border-bottom"><a href="/about">关于我们</a></li>
                <li class="border-bottom nav-li"><a href="/contact">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>