<%- include header.html -%>
<%- include top.html -%>
<style>
    @media screen and (max-width: 480px) {
        #navbar-fixed-top, .footer,.pro-title, .border{
            display: none;
        }
        #margin-top{
            margin-top: 10px;
        }
        .container{
            padding: 0px;
        }
        h2, h3{
            font-size: 1.2em;
        }
    }
</style>
<div class="container"id="margin-top">
    <h1 class="pro-title">用户协议</h1>

    <div class="border"></div>
    <div class="pro-text">
        <h2>特别提示</h2>

        <p>
            <%= site.name%>和信达科技有限公司（以下简称“和信达科技”）旗下一款与智能硬件相结合的软件产品。在此特别提醒您（用户）
            在注册成为<%= site.name%>用户之前，请认真阅读本《用户协议》（以下简称“协议”），确保您充分理解本协议中各条款。请您审慎阅
            读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、
            使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
        </p>

        <h3>一、我们</h3>

        <p><%= site.name%>及本网站、公众号以及APP上所使用的其他相关的图表、标识、服务标志和商业名称都属于北京和信达科技有限公司所有，
            未经许可不得用于与任何第三方产品或服务相关的活动中。网站、公众号以及APP上出现的其他商标、服务标志和商业名称均为
            其各自所有者的财产。</p>

        <h3>二、我们可以提供</h3>

        <p>本服务的具体内容由和信达科技根据实际情况提供，包括但不限于授权用户通过其账号进行即时通讯、远程连接小M或由“和信达科技”授权接入的玩具、添加好友、发布帖子及跟帖。</p>

        <h3>三、隐私保护</h3>

        <p>1、用户在注册账号或使用本服务的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法
            规”）规定的需要填写的身份信息。如用户提交的信息不完整或不符合法律法规的规定，则用户可能无法使用本服务或在使用本服
            务的过程中受到限制。</p>

        <p>2、个人隐私信息是指涉及用户个人身份或个人隐私的信息，比如，用户真实姓名、身份证号、手机号码、手机设备识别码、IP地址
            、用户聊天记录。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等明确且客观反映在“和信达科技”服务器端的基本记
            录信息、个人隐私信息范围外的其它普通信息，以及用户同意公开的上述隐私信息。</p>

        <p>3、尊重用户个人隐私信息的私有性是“和信达科技”的一贯制度，“和信达科技”将采取技术措施和其他必要措施，确保用户个人隐私
            信息安全，防止在本服务中收集的用户个人隐私信息泄露、毁损或丢失。</p>

        <p>4、“和信达科技”重视对未成年人个人隐私信息的保护。“和信达科技”将依赖用户提供的个人信息判断用户是否为未成年人。任何18
            岁以下的未成年人注册账号或使用本服务应事先取得家长或其法定监护人（以下简称”监护人”）的同意。除根据法律法规的规定及
            有权机关的指示披露外，“和信达科技”不会使用或向任何第三方透露未成年人的聊天记录及其他个人隐私信息。除本协议约定的例
            外情形外，未经监护人事先同意，“和信达科技”不会使用或向任何第三方透露未成年人的个人隐私信息。任何18岁以下的用户不得
            下载和使用“和信达科技”通过<%= site.name%>软件提供的网络产品。</p>

        <p>5、用户确认，其地理位置信息及连接成人玩具的状态、玩具本身的使用状态为非个人隐私信息，用户成功注册“<%= site.name%>”账号视为确认
            授权“和信达科技”提取、公开及使用用户的地理位置信息及连接玩具的状态、玩具本身的使用状态。用户地理位置信息及连接玩具的
            状态、玩具本身的使用状态将作为用户公开资料之一，由“和信达科技”向其他用户公开。如用户需要终止向其他用户公开其地理位置
            信息，可随时自行设置为关闭地理位置信息服务。如用户需要终止向其他用户公开连接玩具的状态、玩具本身的使用状态，请直接在
            <%= site.name%>产品中删除玩具的链接或关闭移动设备的蓝牙服务。</p>

        <p> 6、为了改善“和信达科技”的技术和服务，向用户提供更好的服务体验，“和信达科技”或可会自行收集使用或向第三方提供用户的非
            个人隐私信息。</p>

        <h3>四、以下内容是禁止的</h3>

        <p> 1、本条所述内容是指用户使用本服务过程中所制作、上载、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注
            册信息及认证资料，或文字、语音、图片、视频、图文等发送、回复或自动回复消息和相关链接页面，以及其他使用账号或本服务所产生的
            内容。</p>

        <p>2、用户不得利用<%= site.name%>账号或本服务制作、上载、复制、发布、传播如下法律、法规和政策禁止的内容：</p>

        <p>(1) 反对宪法所确定的基本原则的；</p>

        <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>

        <p>(3) 损害国家荣誉和利益的；</p>

        <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>

        <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>

        <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>

        <p>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>

        <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>

        <p>(9) 含有法律、行政法规禁止的其他内容的信息。</p>

        <p>3、用户不得利用<%= site.name%>账号或本服务制作、上载、复制、发布、传播如下干扰<%= site.name%>正常运营，以及侵犯其他用户或第三方合法权益的内容：</p>

        <p>(1) 含有任何性或性暗示的；</p>

        <p>(2) 含有辱骂、恐吓、威胁内容的；</p>

        <p>(3) 含有骚扰、垃圾广告、恶意信息、诱骗信息的；</p>

        <p>(4) 涉及他人隐私、个人信息或资料的；</p>

        <p>(5) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；</p>

        <p>(6) 含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。</p>

        <h3>五、风险承担</h3>

        <p>1、用户理解并同意，<%= site.name%>仅为用户提供信息分享、传送及获取的平台，用户必须为自己注册账号下的一切行为负责，包括用户所传送的任何
            内容以及由此产生的任何后果。用户应对<%= site.name%>及本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性
            、完整性或实用性的依赖而产生的风险。“和信达科技”无法且不会对因用户行为而导致的任何损失或损害承担责任。</p>

        <p>2、如果用户发现任何人违反本协议约定或以其他不当的方式使用本服务，请立即向“和信达科技”举报或投诉，“和信达科技”将依本协议约定进
            行处理。</p>

        <h3>六、法律责任</h3>

        <p>1、如果“和信达科技”发现或收到他人举报或投诉用户违反本协议约定的，“和信达科技”有权不经通知随时对相关内容，包括但不限于用户资料
            、聊天记录进行审查、删除，并视情节轻重对违规账号处以包括但不限于警告、账号封禁、设备封禁、功能封禁的处罚，且通知用户处理结果。</p>

        <p>2、因违反用户协议被封禁的用户可向“和信达科技”网站联系方式提交申诉，“和信达科技”将对申诉进行审查，并自行合理判断决定是否变更处
            罚措施。</p>

        <p>3、用户理解并同意，“和信达科技”有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何用户采取适当的法律
            行动，并依据法律法规保存有关信息向有关部门报告等，用户应承担由此而产生的一切法律责任。</p>

        <p>4、用户理解并同意，因用户违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当赔偿“和信
            达科技”与合作公司、关联公司，并使之免受损害。</p>

        <h3>七、服务的变更、中断、终止</h3>

        <p>1、鉴于网络服务的特殊性，用户同意“和信达科技”有权随时变更、中断或终止部分或全部的服务（包括收费服务）。“和信达科技”变更、中断
            或终止的服务，“和信达科技”应当在变更、中断或终止之前通知用户，并应向受影响的用户提供等值的替代性的服务。</p>

        <p>2、如发生下列任何一种情形，“和信达科技”有权变更、中断或终止向用户提供的免费服务或收费服务，而无需对用户或任何第三方承担任何责任：</p>

        <p>(1) 根据法律规定用户应提交真实信息，而用户提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</p>

        <p>(2) 用户违反相关法律法规或本协议的约定；</p>

        <p>(3) 按照法律规定或有权机关的要求；</p>

        <p>(4) 出于安全的原因或其他必要的情形。</p>

        <h3>八、其他</h3>

        <p>1、“和信达科技”郑重提醒用户注意本协议中免除“和信达科技”责任和限制用户权利的条款，请用户仔细阅读，自主考虑风险。未成年人应在法
            定监护人的陪同下阅读本协议。</p>

        <p>2、本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和“和信达科技”之间发生任何纠纷或争议，首先应友好协商解决，协
            商不成的，用户同意将纠纷或争议提交“和信达科技”住所地有管辖权的人民法院管辖。</p>

        <p>3、本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>

        <strong>本条目发布于2015年8月25日。如果您对上述内容有任何疑问，请通过以下电子邮箱联系我们：
            <a href="mailto:kf@hxd-inc.com">kf@hxd-inc.com</a>。
        </strong>
    </div>
</div>
<%- include footer.html -%>
<%- include end.html -%>