<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
    <!-- 微信打开页面时 显示提示图片-->
    function downloadInWeixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
            $("#weixininfo").css({"display":"block"});
            $("#weixindownload").css({"display":"block"});
            setTimeout("infohidden()",5000);
        }
    }
    function infohidden(){
        $('#weixininfo').fadeOut(2000);
        $('#weixindownload').fadeOut(2000);
    }
</script>
</head>
<body id="js-doc">
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="padding-top:12px;color:#65c4aa;" id="logo"><img src="../images/logo.png"
                                                                                         alt="Logo" title="Use cret"
                                                                                         style="display: inline-block;width: 44px"/>
                <img src="../images/logo_text.png" alt="Logo" title="友蜜蜜" id="logo_text"style="width: 114px"/></a>
        </div>

    </div>
</nav>